<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>

<h2>Add a New Book</h2>

<form action="#" th:action="@{/books/AddBook}" th:object="${NewBook}" method="post">

    <h3>Book Details:</h3>
    <div>
        <label for="title">Title:</label>
        <input type="text" th:field="*{title}" id="title" required/>
    </div>

    <div>
        <label for="publisher">Publisher:</label>
        <input type="text" th:field="*{publisher}" id="publisher" required/>
    </div>

    <div>
        <label for="pubYear">Publication Year:</label>
        <input type="number" th:field="*{pubYear}" id="pubYear" required/>
    </div>

    <div>
        <label for="pageAmount">Page Amount:</label>
        <input type="number" th:field="*{pageAmount}" id="pageAmount" required/>
    </div>

    <div>
        <label for="genre">Genre:</label>
        <input type="text" th:field="*{genre}" id="genre" required/>
    </div>

    <h3>Author Details:</h3>
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" th:field="*{author.firstName}" id="firstName" required/>
    </div>

    <div>
        <label for="lastName">Last Name:</label>
        <input type="text" th:field="*{author.lastName}" id="lastName" required/>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>

</form>

</body>
</html>